@import '../variables.scss';

.toolbar-alignment-option {
  position: absolute;
  left: -999em;

  &:checked + .toolbar-alignment-icon {
    fill: $blue;
  }
}

.toolbar-alignment-icon {
  margin: 0 4px;
  cursor: pointer;
}
